{{ $membersSection := site.GetPage "/members" }}
{{ $resolved := slice }}
{{ range .Params.params_members }}
  {{ $slug := . }}
  {{ with site.GetPage (printf "/members/%s" $slug) }}
    {{ $resolved = $resolved | append (dict "name" .Title "href" (printf "%s#%s" $membersSection.RelPermalink $slug)) }}
  {{ end }}
{{ end }}
{{ with $resolved }}
  <p class="f6 mid-gray">
    {{ i18n "associated_members" }}:
    {{ range $idx, $m := . }}{{ if gt $idx 0 }}, {{ end }}<a href="{{ $m.href }}" class="link">{{ $m.name }}</a>{{ end }}
  </p>
{{ end }}
