{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links mid-gray">
      {{ .Content }}
    </section>
    <section class="w-100 mw8 center mt4">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d824.4718842362132!2d106.92486674366631!3d47.92170278558933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5d9693a627f0c703%3A0x1baecae752faa611!2z0KjQo9Ci0JjQoSA4LdGAINCx0LDQudGA!5e0!3m2!1sen!2smn!4v1785647009987!5m2!1sen!2smn"
        class="w-100"
        style="height:450px;border:0;border-radius:8px"
        allowfullscreen
        loading="lazy"
        referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </section>
  </article>
{{ end }}
